## Original Dataset:
https://www.eia.gov/environment/emissions/state/excel/electricity.xlsx

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("annual_electricity_related_CO2_emissions.csv")

In [3]:
df.head()

,Electricity Emissions by State (1980 - 2018),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,million metric tons of carbon dioxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Change from 1980 - 2018,NaN
1,State,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2011,2012,2013,2014,2015,2016,2017,2018,Percent,Absolute
2,Alabama,44.1,44.1,35.3,38.8,40.3,48.9,49.1,47.8,46.0,...,74.6,67.0,64.7,65.6,62.4,55.6,51.0,53.9,22.2%,9.8
3,Alaska,2.3,2.4,2.6,2.6,2.6,2.7,2.7,2.4,2.4,...,3.2,3.1,2.6,2.9,3.0,2.8,2.8,2.7,17.4%,0.4
4,Arizona,25.3,31.1,30.6,26.3,28.8,31.0,25.3,27.0,29.4,...,52.8,51.8,55.2,53.6,50.1,44.6,43.8,46.8,85.0%,21.5

In [4]:
df.columns = df.iloc[1]

In [5]:
df.head()

1,State,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2011,2012,2013,2014,2015,2016,2017,2018,Percent,Absolute
0,million metric tons of carbon dioxide,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Change from 1980 - 2018,NaN
1,State,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2011,2012,2013,2014,2015,2016,2017,2018,Percent,Absolute
2,Alabama,44.1,44.1,35.3,38.8,40.3,48.9,49.1,47.8,46.0,...,74.6,67.0,64.7,65.6,62.4,55.6,51.0,53.9,22.2%,9.8
3,Alaska,2.3,2.4,2.6,2.6,2.6,2.7,2.7,2.4,2.4,...,3.2,3.1,2.6,2.9,3.0,2.8,2.8,2.7,17.4%,0.4
4,Arizona,25.3,31.1,30.6,26.3,28.8,31.0,25.3,27.0,29.4,...,52.8,51.8,55.2,53.6,50.1,44.6,43.8,46.8,85.0%,21.5

In [6]:
states = ["California", "Colorado", "Connecticut", "Florida", "Montana", "Michigan", "Minnesota", "New Jersey", "New York", "Oregon", "Tennessee", "Texas", "Vermont", "Virginia", "Washington", "Wisconsin"]

In [7]:
new_df = df.loc[(df["State"].isin(states))]

In [8]:
new_df

1,State,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2011,2012,2013,2014,2015,2016,2017,2018,Percent,Absolute
6,California,61.1,59.4,37.8,31.4,34.3,39.6,27.4,37.2,36.6,...,36.4,48.0,45.7,46.3,44.3,36.6,33.0,33.7,-44.8%,-27.4
7,Colorado,20.8,23.0,23.7,22.6,25.3,26.5,26.3,26.7,28.2,...,39.3,39.5,39.0,38.1,37.0,35.7,35.2,34.2,64.4%,13.4
8,Connecticut,10.7,9.1,8.6,9.8,10.3,10.5,11.1,10.1,11.3,...,6.6,7.2,6.8,6.7,7.4,7.0,6.3,8.1,-24.3%,-2.6
11,Florida,64.5,68.2,58.4,62.7,58.7,62.6,72.1,78.7,83.4,...,111.0,107.5,105.2,109.8,108.1,106.4,103.4,100.9,56.4%,36.4
24,Michigan,56.0,55.2,50.6,51.0,54.6,57.7,60.6,68.1,67.0,...,65.6,63.5,62.7,60.2,63.0,55.6,55.7,58.9,5.2%,2.9
25,Minnesota,21.4,21.1,18.1,18.0,19.7,19.0,16.8,22.5,27.2,...,29.3,25.7,26.0,29.4,27.2,26.7,25.3,26.7,24.8%,5.3
28,Montana,5.6,5.5,4.2,3.7,8.2,9.0,12.0,12.2,16.7,...,16.7,15.7,16.6,17.3,17.8,16.1,15.5,15.1,169.6%,9.5
32,New Jersey,18.2,16.7,14.7,17.3,16.9,14.8,13.1,14.5,14.2,...,15.7,14.9,14.4,16.8,17.9,19.7,16.7,17.4,-4.4%,-0.8
34,New York,53.7,53.2,51.7,51.9,50.9,49.7,48.8,54.2,62.2,...,33.9,32.3,30.1,30.6,29.2,27.8,22.1,24.5,-54.4%,-29.2
39,Oregon,0.8,1.9,0.8,0.6,0.8,0.7,0.0,0.0,0.0,...,6.4,7.0,9.1,8.0,8.6,7.8,7.5,8.4,950.0%,7.6
44,Tennessee,47.5,44.8,36.8,41.5,42.5,46.5,47.2,46.7,47.8,...,41.0,37.7,33.9,37.5,33.9,36.2,32.3,26.1,-45.1%,-21.4
45,Texas,142.4,147.9,151.1,155.8,161.9,166.6,163.6,165.5,171.8,...,239.5,223.7,227.9,226.5,215.1,209.0,212.5,202.3,42.1%,59.9
47,Vermont,0.1,0.1,0.1,0.1,0.1,0.1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-100.0%,-0.1
48,Virginia,20.7,18.7,17.3,17.2,18.8,18.1,20.2,22.3,22.6,...,28.7,25.3,31.1,30.5,32.0,33.8,28.8,30.6,47.8%,9.9
49,Washington,7.7,7.6,5.9,6.6,6.9,7.9,5.1,8.3,8.7,...,7.4,6.2,11.7,11.7,10.9,9.6,10.4,10.1,31.2%,2.4
51,Wisconsin,26.4,26.2,25.8,28.5,29.8,29.4,30.4,32.0,32.8,...,42.3,37.4,43.8,40.1,42.0,38.9,41.2,39.9,51.1%,13.5

In [9]:
remyears = []
for i in range(1980,2011):
    remyears.append(i)

In [10]:
rem = []
for year in remyears:
    rem.append(str(year))
rem

['1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010']

In [11]:
new_df.drop(columns=rem, inplace=True)

/var/folders/4f/n3zjdg6d20g0v9p26cnqg5tm0000gn/T/ipykernel_3292/3964668915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(columns=rem, inplace=True)

In [12]:
new_df.drop(columns=["Percent", "Absolute"], inplace=True)

/var/folders/4f/n3zjdg6d20g0v9p26cnqg5tm0000gn/T/ipykernel_3292/755820809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.drop(columns=["Percent", "Absolute"], inplace=True)

In [13]:
new_df

1         State   2011   2012   2013   2014   2015   2016   2017   2018
6    California   36.4   48.0   45.7   46.3   44.3   36.6   33.0   33.7
7      Colorado   39.3   39.5   39.0   38.1   37.0   35.7   35.2   34.2
8   Connecticut    6.6    7.2    6.8    6.7    7.4    7.0    6.3    8.1
11      Florida  111.0  107.5  105.2  109.8  108.1  106.4  103.4  100.9
24     Michigan   65.6   63.5   62.7   60.2   63.0   55.6   55.7   58.9
25    Minnesota   29.3   25.7   26.0   29.4   27.2   26.7   25.3   26.7
28      Montana   16.7   15.7   16.6   17.3   17.8   16.1   15.5   15.1
32   New Jersey   15.7   14.9   14.4   16.8   17.9   19.7   16.7   17.4
34     New York   33.9   32.3   30.1   30.6   29.2   27.8   22.1   24.5
39       Oregon    6.4    7.0    9.1    8.0    8.6    7.8    7.5    8.4
44    Tennessee   41.0   37.7   33.9   37.5   33.9   36.2   32.3   26.1
45        Texas  239.5  223.7  227.9  226.5  215.1  209.0  212.5  202.3
47      Vermont    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
48     Virginia   28.7   25.3   31.1   30.5   32.0   33.8   28.8   30.6
49   Washington    7.4    6.2   11.7   11.7   10.9    9.6   10.4   10.1
51    Wisconsin   42.3   37.4   43.8   40.1   42.0   38.9   41.2   39.9

In [14]:
new_df.reset_index(drop=True, inplace=True)

In [15]:
new_df

1         State   2011   2012   2013   2014   2015   2016   2017   2018
0    California   36.4   48.0   45.7   46.3   44.3   36.6   33.0   33.7
1      Colorado   39.3   39.5   39.0   38.1   37.0   35.7   35.2   34.2
2   Connecticut    6.6    7.2    6.8    6.7    7.4    7.0    6.3    8.1
3       Florida  111.0  107.5  105.2  109.8  108.1  106.4  103.4  100.9
4      Michigan   65.6   63.5   62.7   60.2   63.0   55.6   55.7   58.9
5     Minnesota   29.3   25.7   26.0   29.4   27.2   26.7   25.3   26.7
6       Montana   16.7   15.7   16.6   17.3   17.8   16.1   15.5   15.1
7    New Jersey   15.7   14.9   14.4   16.8   17.9   19.7   16.7   17.4
8      New York   33.9   32.3   30.1   30.6   29.2   27.8   22.1   24.5
9        Oregon    6.4    7.0    9.1    8.0    8.6    7.8    7.5    8.4
10    Tennessee   41.0   37.7   33.9   37.5   33.9   36.2   32.3   26.1
11        Texas  239.5  223.7  227.9  226.5  215.1  209.0  212.5  202.3
12      Vermont    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
13     Virginia   28.7   25.3   31.1   30.5   32.0   33.8   28.8   30.6
14   Washington    7.4    6.2   11.7   11.7   10.9    9.6   10.4   10.1
15    Wisconsin   42.3   37.4   43.8   40.1   42.0   38.9   41.2   39.9